{:paths ["src"]
 :deps {babashka/fs {:mvn/version "0.4.19"}
        org.babashka/http-client {:mvn/version "0.4.15"}
        org.babashka/cli {:mvn/version "0.7.53"}
        cheshire/cheshire {:mvn/version "5.12.0"}}}
